{{customHTML "top"}}

<div class='list-controls'>
  <div class="container">

    {{bread-crumbs category=category categories=categories noSubcategories=noSubcategories}}
    
    <a class='icon expand'
               href='#'
               data-dropdown="bimenu-dropdown"
               title='View by'>View by
            </a>
  <div class="d-dropdown" id="bimenu-dropdown"> 
  <ul class="location-links">
      <li>{{partial "siteMap/adminLink"}}</li>
      <li>{{partial "siteMap/flaggedPostsLinks"}}</li>
  </ul>
   </div>
   

            
  <section class="d-dropdown" id="site-map-dropdown">
  <ul class="location-links">
      <li>{{partial "siteMap/adminLink"}}</li>
      <li>{{partial "siteMap/flaggedPostsLinks"}}</li>
  </ul>
  </section>
    <ul class="nav nav-pills" id='category-filter'>
      {{each availableNavItems itemViewClass="Discourse.NavItemView"}}
    </ul>

     
    {{#if canCreateTopic}}
      <button class='btn btn-default' {{action createTopic}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>
    {{/if}}

    {{#if canEditCategory}}
      <button class='btn btn-default' {{action editCategory category}}><i class="fa fa-wrench"></i> {{i18n category.edit_long}}</button>
    {{/if}}

    {{#if canCreateCategory}}
      <button class='btn btn-default' {{action createCategory}}><i class='fa fa-plus'></i>{{i18n category.create}}</button>
    {{/if}}

  </div>
</div>

<div class="container list-container">
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{topic-list-loading loading=loading}}
        {{outlet listView}}
      </div>
    </div>
  </div>
</div>

{{customHTML "bottom"}}
