{{customHTML "top"}}

<div class='list-controls'>
  <div class="container">

    {{bread-crumbs category=category categories=categories noSubcategories=noSubcategories}}
    
    {{! Devdutta mod begin, added dropdown menu removed original category filter }}
    
    <ul class="nav">
    <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        View By
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu" id="category-filter">
       {{each availableNavItems itemViewClass="Discourse.NavItemView"}}
    </ul>
  </li>
  </ul>
  
  
    
  {{! Devdutta mod end removed original category filter }}
     
    {{#if canCreateTopic}}
      <button class='btn btn-default' {{action createTopic}}><i class='fa fa-plus'></i>{{i18n topic.create}}</button>
    {{/if}}

    {{#if canEditCategory}}
      <button class='btn btn-default' {{action editCategory category}}><i class="fa fa-wrench"></i> {{i18n category.edit_long}}</button>
    {{/if}}

    {{#if canCreateCategory}}
      <button class='btn btn-default' {{action createCategory}}><i class='fa fa-plus'></i>{{i18n category.create}}</button>
    {{/if}}

  </div>
</div>

<div class="container list-container">
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{topic-list-loading loading=loading}}
        {{outlet listView}}
      </div>
    </div>
  </div>
</div>

{{customHTML "bottom"}}
